<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WatchPaths</key>
	<array>
		<string>/Volumes</string>
	</array>
	<key>Label</key>
	<string>net.ddns.christiaanboersma.timemachine</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>1</integer>
	<key>Program</key>
	<string>/bin/sh</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>$HOME/Library/Application\ Support/Time\ Machine/bin/timemachine.bash</string>
	</array>
</dict>
</plist>
